@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  overflow-x: hidden;
}
.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section-subtitle {
  padding: 2rem;
}

.product-count {
  font-size: 2.5rem;
  font-weight: lighter;
  padding: 2rem;
}
.navbar-inner {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  padding: 2rem;
}
.cart {
  padding: 0.5rem;
}
.cart:hover {
  cursor: pointer;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product {
  flex: 0 1 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  min-width: 250px;
  padding: 0.5rem;
  margin: 1rem;
}

.cart-add-icon {
  width: 24px;
}
.product-image {
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 175px;
}
.product-image img {
  width: 200px;
}

.product-summary {
  padding: 1rem;
}

.add-to-cart {
  padding: 1rem;
  background: #81ff64;
  border: none;
  border-radius: 50px;
  color: black;
  font-weight: bolder;
}

.add-to-cart:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.price {
  font-size: 2rem;
  font-weight: 400;
  margin: 0.75rem 0;
  color: #2e2e2e;
}

.cart-detail {
  position: absolute;
  top: 0;
  right: 0;
  width: 380px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom-left-radius: 50px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  box-shadow: none;
  opacity: 0;
}
.visible {
  box-shadow: -15px 15px 20px 0px rgb(0 0 0 / 10%);
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.cart-items {
  flex: 1;
  flex-direction: column;
  list-style: none;
  margin: 1.5rem 0;
}

.cart-item {
  display: flex;
  margin: 1rem 0;
}
.cart-item img {
  width: 100px;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: lighter;
}
.close-btn:hover {
  cursor: pointer;
  font-weight: normal;
}

.cart-title {
  font-size: 3rem;
  font-weight: normal;
  margin-top: 2rem;
}
.cart-price {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.empty {
  font-size: 2rem;
  font-weight: lighter;
  color: gray;
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}

.cart-total::before {
  border-top: 1px 1px solid gray;
  content: "";
  width: 100%;
  display: block;
}

.cart-total {
  flex: 0;
}

.total {
  font-size: 1.5rem;
  text-align: right;
}

.button-qty {
  border-style: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  color: white;
  font-weight: bolder;
  font-size: 1.4rem;
}
.button-qty:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 10%);
}
.minus {
  background: #ea6262;
}
.plus {
  background: #76ea62;
}

.product-qty {
  background: #d5d5d5;
  padding: 0 1.5rem;
  margin: -1rem;
  z-index: -1;
  position: relative;
  font-size: 1.25rem;
}

@-webkit-keyframes fadeUp {
  0% {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
  }
  100% {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fadeUp {
  0% {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
  }
  100% {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-ms-keyframes fadeUp {
  0% {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
  }
  100% {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeUp {
  0% {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
  }
  100% {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

.welcome-toast {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 300px;
  height: 50px;
  background: rgb(15 28 68 / 85%);
  color: white;
  font-size: 1.35rem;
  z-index: 999;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 11px 6px rgb(0 0 0 / 30%);
  animation: fadeUp 0.5s ease-in-out;
}
